* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #212121;
  line-height: 1.5;
}

.cleared {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

ul,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-width: 0;
}
.item {
  width: 550px;
}

#boxes {
  display: flex;
  flex-wrap: wrap;

  min-width: 0;
}

.field,
.field-two {
  position: relative;
  max-width: 850px;
  height: 500px;
  background-color: green;
  margin-left: 15px;
  margin-right: 15px;
}

.ball,
.ball-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;

  transition-duration: 300ms;
  transition-timing-function: linear;
  transition-property: top, left;
}

.ball-two {
  width: 100px;
  height: 100px;
  transition: none;
}

.ball-shadow-on {
  box-shadow: 3px 3px 8px black;
}

/* Слайдер */

.slick-slider {
}
/* Слайдер запущений */

.slick-slider.slick-initialized {
}
/* Слайдер з крапками */

.slick-slider.slick-dotted {
}
/* Обмежувальна оболонка */

.slick-list {
  overflow: hidden;
}
/* Стрічка слайдів */

.slick-track {
  display: flex;
  height: 500px;
  min-width: 0;
  margin-top: 9%;
}

/* Слайд */

.slick-slide {
}
/* Слайд активний (показується) */

.slick-slide.slick-active {
}
/* Слайд основний */

.slick-slide.slick-current {
}
/* Слайд по центру */

.slick-slide.slick-center {
}
/* Клонований слайд */

.slick-slide.slick-cloned {
}
/* Стрілка */

.slick-arrow {
}
/* Стрілка вліво */

.slick-arrow.slick-prev {
}
/* Стрілка вправо */

.slick-arrow.slick-next {
}
/* Стрілка не активна */

.slick-arrow.slick-disabled {
}
/* Точки (буліти) */

.slick-dots {
}

.slick-dots li {
}
/* Активна точка */

.slick-dots li.slick-active {
}
/* Елемент точки */

.slick-dots li button {
}

/* special elements */

.slider {
  position: relative;
  padding: 0px 60px;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.slider .slick-arrow {
  position: absolute;
  min-width: 0;
  width: 30px;
  height: 55px;
  top: 55%;
  z-index: 10;
  font-size: 0;
  border: none;
}

.slider .slick-arrow.slick-prev {
  left: 0px;

  background: url("../imgs/sl-arrow_l.svg") 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0px;
  background: url("../imgs/sl-arrow_r.svg") 0 0/ 100% no-repeat;
}

.slick-arrow.slick-disabled {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
